@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'bootstrap/scss/bootstrap';

body {
    padding: 0;
    margin: 0;
}

.app {
    font-family: 'Nunito', sans-serif;
}

.floating-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }

    .content {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    }

    .floating-confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .message {
            margin-bottom: 20px;
        }

        .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            button {
                margin: 0 5px;
                border-radius: 5px;
                padding: 8px 20px;
                font-size: 0.9rem;
                font-weight: bold;
                transition: background-color 0.2s linear;
                border: none;
                outline: none;

                &.accept {
                    background-color: #ff5a5f;
                    color: #fff;

                    &:hover {
                        background-color: #ff4449;
                    }
                }

                &.cancel {
                    background-color: #e6e6e6;
                    color: #333;

                    &:hover {
                        background-color: #d4d4d4;
                    }
                }
            }
        }
    }
}

.navbar {
    padding-top: 0;
    margin-bottom: 40px;

    & > div {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    }

    .navbar-brand {
        img {
            width: 40px;
            margin-right: 5px;
        }
    }

    .login-link {
        background-color: #ff5a5f;
        color: #fff;

        &:hover {
            background-color: #ff4449;
        }
    }

    .profile-link {
        display: flex;
        align-items: center;
        border-radius: 15px;
        padding: 3px;
        font-size: 14px;
        font-weight: bold;
        transition: background-color 0.2s linear;

        img {
            width: 25px;
            height: 25px;
            border-radius: 200px;
            margin-right: 5px;
        }
    }

    .gray-nav-button {
        margin-right: 5px;
        background-color: #e6e6e6;
        color: #333;

        &:hover {
            background-color: #d4d4d4;
        }
    }

    .login-link, .gray-nav-button {
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        transition: background-color 0.2s linear;
    }
}

.rating-stars {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
        width: 20px;
    }

    span {
        margin-left: 5px;
    }
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.loading-animation {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    animation: spin 1s ease-in-out infinite;
    margin: 0;
    padding: 0;

    img {
        width: 50px;

        &.sm {
            width: 24px;
        }

        &.lg {
            width: 100px;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.input-box {
    margin-bottom: 20px;

    label {
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    input:not([type="checkbox"]) {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        transition: all .3s ease-in-out;

        &.is-invalid {
            border-color: #f00 !important;
        }

        &:focus {
            border-color: #000;
        }
    }
}
