.room-box {
    margin-bottom: 50px;

    .confirmation-values-box button {
        color: #fff;
        border-radius: 10px !important;
        border: 0;
        background-color: #ff5a5f;
        font-weight: bold;
        padding: 10px 25px;
    }

    & > h4 {
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .info-box {
        .info {
            h3 {
                font-weight: bold;
            }

            .id {
                font-weight: normal;
                font-size: 0.8rem;
                color: #999;
            }
        }

        .room-image {
            height: 500px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px !important;
        }

        .book-box {
            background-color: #ff5a5f;
            border-radius: 10px !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;

            .error {
                color: #fff;
                font-weight: bold;
                text-align: center;
            }

            .price {
                color: #fff;
                font-weight: bold;
                font-size: 1.5rem;
                margin-top: 20px;
                text-align: center;
            }

            button {
                background-color: #fff;
                border-radius: 10px !important;
                border: 0;
                color: #ff5a5f;
                cursor: pointer;
                font-weight: bold;
                padding: 10px 20px;
                width: 100%;

                &:disabled {
                    background-color: #dfdfdf;
                    color: #aaa;
                }
            }

            h4 {
                color: #fff;
                font-weight: bold;
                margin-top: 10px;
                text-align: center;
                margin-bottom: 30px;
            }

            label {
                color: #fff;
                font-weight: bold;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;

                span {
                    margin-right: 10px;
                }

                input {
                    border-radius: 10px !important;
                    border: 1px solid #fff;
                    color: #000;
                    font-weight: bold;
                    padding: 10px;
                    width: 100%;
                }
            }
        }
    }

    .tags-box {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;

        .tag {
            background-color: #fff;
            border: 1px solid #ff5a5f;
            border-radius: 10px !important;
            color: #ff5a5f;
            font-weight: bold;
            padding: 5px 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 1.2rem;
            transition: all 0.1s ease-in-out;
            cursor: default;

            &:hover {
                background-color: #ff5a5f;
                color: #fff;
            }
        }
    }
}


.ratings-box {
    margin-top: 30px;

    .show-more button {
        background-color: #fff;
        border-radius: 10px !important;
        border: 1px solid #ff5a5f;
        color: #ff5a5f;
        font-weight: bold;
        padding: 10px 20px;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-color: #ff5a5f;
            color: #fff;
        }
    }

    .rating {
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        background-color: #f3f3f3;
        border-radius: 10px !important;
        padding: 10px;
        border: 1px solid #dfdfdf;

        .user {
            .name {
                font-weight: bold;
                margin-right: 10px;
            }

            .date {
                color: #999;
                font-size: 0.8rem;
            }
        }

        .stars {
        }

        .comment {
            margin-top: 10px;
        }
    }
}
